---
layout: default
title: Projects
permalink: /
---

<section class="container-fluid mc-intro">
    <div class="container">
        <h1 class="mc-hey mc-hey-padding">hey! i'm melanie</h1>
        <h2 class="mc-statement mc-statement-padding">i believe design can amplify stories that need to be told</h2>
        <hr>
    </div>
</section>
<section class="container-fluid">
    <div class="row">
        {% include projectthumbnail.html link="autism-lab/" img="asdmockup.jpg" alt="A screengrab of a website with the heading 'Improving learning and life outcomes for people with and without Autism' on a laptop" description="providing an accessible and trustworthy platform for the asd&#160;community" project="Cognition in Autism Research Lab" %}
        {% include projectthumbnail.html link="family-cookbook/" img="cookbookfeature.jpg" alt="An open cookbook showing a recipe for tau yu bak (braised pork belly)" description="preserving family traditions and cultural&#160;connection" project="Have You Eaten Yet?" %}
        {% include projectthumbnail.html link="fac-concerts/" img="facmockup.jpg" alt="A neat desk setup with a screengrab of a website on a wide screen computer" description="engaging concert-goers to support the local music&#160;scene" project="Fremantle Arts Centre: Concert Series" %}
        {% include projectthumbnail.html link="spectra/" img="spectrafeature.jpg" alt="A wide shot of a public event with colourful lights and posters up" description="organising an event to uplift students and expand people's perception of creative&#160;media" project="Spectra: Murdoch Open Showcase 2021" %}
        {% include projectthumbnail.html link="waterways-campaign/" img="waterwaysbus.jpg" alt="A bus stop with a blue poster with a cartoon turtle and text saying 'Make our oceans glitter, Pick up litter'" description="developing a communication strategy to improve waste&#160;practices" project="Waste and Waterways Campaign" %}
        {% include projectthumbnail.html link="with-joy/" img="withjoyphysical.jpg" alt="A yellow toothpaste box, a blue mouthwash box and a green floss fox placed on top a bathroom cabinet" description="providing a sustainable alternative for dental care&#160;products" project="With Joy" %}
    </div>
</section>