---
layout: default
title: 'Spectra: Murdoch Open Showcase 2021'
project: spectra
permalink: /spectra/
---

{% include feature.html %}
<section class="container-fluid">
    <div class="mc-container">
        <div class="mc-grid">
            <div class="mc-project-overview">
                <h3 class="mc-subheading">THE PROJECT</h3>
                <p>Spectra is the 4<sup>th</sup> iteration of the Murdoch Open Showcase, an annual Murdoch University student-organised event exhibiting works created by creative media students. Like a white light beam travelling through a prism and turning into a rainbow, Spectra represents a student’s university journey from connecting with other students to being exposed to different experiences, resulting in expanding the spectrum of who they are when this phase of their lives&nbsp;ends.</p>
                <p>I worked with three other people on the showcase’s online spaces. My primary responsibility was developing the front end of the&nbsp;website.</p>
            </div>
            <div class="mc-grid-2-8-2x5 mc-padding-bottom">
                <img class="mc-img mc-padding-bottom" src="/assets/images/spectraeventpho1.jpg" alt="Posters showing behind the scenes of Spectra">
            </div>
            <div class="mc-grid-3-1-3x6 mc-padding-top">
                <img class="mc-img mc-padding-top" src="/assets/images/spectraeventpho2.jpg" alt="People standing in front of photos on display">
            </div>
            <div class="mc-project-outline2 mc-padding-top">
                <h3 class="mc-subheading">ENCOURAGING A DEEPER UNDERSTANDING OF THE&nbsp;ARTS</h3>
                <p>The arts have often been undervalued and this was evident with the amount of funding we received in comparison to previous years. People who aren’t involved in the industry don’t have a clear understanding of how specialised creative media is and the amount of work and effort that creatives put into their&nbsp;projects.</p>
                <p>To change people’s perception of creative fields, we created and implemented a content strategy for the website that not only provided students a platform to share their work but to also educate people on what students do and learn at university that transforms them into&nbsp;creatives.</p>
            </div>
        </div>
        <p class="mc-pullquote mc-quote">Increasing need for events to have a virtual&nbsp;space...</p>
        <div class="row mc-section">
            <div class="col-md-4 mc-order-2">
                <h3 class="mc-subheading">BUILDING ON PAST SHOWCASES</h3>
                <p>Each year the showcase has been held, its dedicated online spaces kept growing bigger. For Spectra, we wanted to continue building and improving on what previous showcases has introduced for its online&nbsp;spaces.</p>
                <p>There also has been an increasing need for events to have a virtual space, especially given the impact the pandemic has had on live events and exhibitions. But based on the previous years the showcase has run, we also found that the showcase’s online spaces received minimal engagement. We worked with the other teams to promote the online spaces and integrate it into the physical&nbsp;event.</p>
            </div>
            <div class="col-md-7 offset-md-1 mc-order-1">
                <figure class="mc-md-padding-bottom">
                    <img class="img-fluid" src="/assets/images/spectrabrainstorm.jpg" alt="People laying out cards of touchpoint types on a table">
                    <figcaption>A planning session | Photography by Joshua&nbsp;Remedios</figcaption>
                </figure>
            </div>
        </div>
        <div class="mc-grid mc-padding-top">
            <div class="mc-grid-1-1-2x4 mc-padding-bottom">
                <img class="mc-img mc-padding-bottom" src="/assets/images/spectrapresentation1.jpg" alt="Sheets of paper showing research">
            </div>
            <div class="mc-grid-3-4-1x4 mc-padding-top mc-padding-bottom">
                <img class="mc-img mc-padding-bottom" src="/assets/images/spectrapresentation2.jpg" alt="Sheets of paper showing visual investigation">
            </div>
            <div class="mc-grid-2-9-3x4 mc-padding-bottom">
                <img class="mc-img mc-padding-bottom" src="/assets/images/spectrapresentation3.jpg" alt="An infographic explaining what Spectra is">
            </div>
            <div class="mc-grid-4-1-2x4 mc-padding-top">
                <img class="mc-img" src="/assets/images/spectrapresentation4.jpg" alt="Sheets of paper showing visual investigation">
            </div>
            <div class="mc-grid-5-6-1x4 mc-padding-top">
                <img class="mc-img mc-padding-top" src="/assets/images/spectrapresentation5.jpg" alt="Sheets of paper showing visual investigation and experimentation">
            </div>
        </div>
        <div class="row mc-section mc-negative-top">
            <p class="mc-caption mc-padding-bottom">Photos of research we presented at our stakeholder presentation | Photography by Fioline&nbsp;Oetomo</p>
            <div class="col-md-6 offset-md-3">
                <h3 class="mc-subheading">UNDERSTANDING THROUGH RESEARCH</h3>
                <p>As a cohort, we conducted interviews, surveys and empathy mapping to determine the needs of current students and staff for the showcase as well as attendees. We discovered that students and staff wanted the showcase to be a platform where students can gain exposure for their work. The public were interested in interacting with people who made works shown at the&nbsp;showcase.</p>
                <p>From these insights, the online spaces team decided we wanted to show process and behind the scenes of students’ works in the showcase’s online&nbsp;spaces.</p>
            </div>
        </div>
        <div class="row mc-section">
            <div class="col-md-7">
                <img class="img-fluid mc-md-padding-bottom" src="/assets/images/spectraresearch.png" alt="Slides of competitor analysis">
            </div>
            <div class="col-md-4 offset-md-1">
                <h3 class="mc-subheading">SEEING WHAT'S POSSIBLE</h3>
                <p>We also conducted analysis of online spaces from similar industries and a visual investigation to help narrow our scope for the showcase’s online spaces. We looked at interactive spaces as it fit with the Spectra theme of being impacted by engaging experiences. And following in the footsteps of the 2020 team, we also looked at immersive virtual&nbsp;spaces.</p>
            </div>
        </div>
        <div class="row mc-section">
            <div class="col-sm-4">
                <h3 class="mc-subheading">CREATING A PIECE OF A DESIGN SYSTEM</h3>
                <p>When designing the website, we had to make sure that it fit with the overall theme and the brand identity that the branding team came up. We went through multiple iterations of wireframes but we managed to achieve a cohesive look by keeping the layout simple and staying in constant communication with the branding&nbsp;team.</p>
            </div>
            <div class="col-sm-7 offset-sm-1">
                <video class="img-fluid" autoplay loop muted playsinline>
                    <source src="/assets/images/spectrawireframes.mp4" type="video/mp4">
                    <p class="sr-only">Wireframe iterations of home page</p>
                </video>
            </div>
        </div>
        <p class="mc-pullquote mc-quote">We decided to treat the website as an informative platform rather than a&nbsp;portfolio...</p>
        <div class="mc-grid mc-padding-top">
            <div class="mc-grid-1-1-5x6">
                <figure class="mc-spectra-modal-wrapper">
                    <img class="mc-img mc-modal-trigger" src="/assets/images/spectracompinitial.png" alt="Concept of project page displaying project thumbnails" data-toggle="modal" data-target="#spectra1">
                    <figcaption>Initial concept was to display all student work&nbsp;provided</figcaption>
                </figure>
            </div>
            <div class="mc-grid-1-7-5x6">
                <figure class="mc-spectra-modal-wrapper">
                    <img class="mc-img mc-modal-trigger" src="/assets/images/spectracompfinal.jpg" alt="Concept of project page displaying a mix of visual and textual content" data-toggle="modal" data-target="#spectra2">
                    <figcaption>Final concept focused on the skills students would learn in that course featuring select student&nbsp;work</figcaption>
                </figure>
            </div>
        </div>
        <div class="row mc-section mc-negative-top">
            <div class="col-md-6 offset-md-3 mc-md-padding-top">
                <h3 class="mc-subheading">KNOWING OUR LIMITS</h3>
                <p>While we wanted the showcase to be immersive and accessible online, we had to be realistic about what we could achieve as a team of four in under three&nbsp;months.</p>
                <p>We decided to focus purely on the website and treat it as an informative platform about each creative media discipline rather than a portfolio for individual student pieces to maximise our workflow. We also decided to produce video content about Spectra and the work that went into creating this showcase. These videos would feature on the website and shared on social&nbsp;media.</p>
            </div>
        </div>
        <div class="row mc-section">
            <div class="col-md-7">
                <video class="img-fluid mc-padding-bottom" autoplay loop muted playsinline>
                    <source src="/assets/images/spectragad.mp4" type="video/mp4">
                    <p class="sr-only">Screengrab of Games, Art and Design page from the Spectra website</p>
                </video>
                <div class="mc-iframe-wrapper mc-md-padding-bottom">
                    <iframe class="mc-iframe" src="https://www.youtube.com/embed/5bu89_aqUKw" title="YouTube video player: Spectra Finishline" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
                </div>
            </div>
            <div class="col-md-4 offset-md-1">
                <h3 class="mc-subheading">GETTING THE JOB DONE</h3>
                <p>The actual development of the website was fairly streamlined and wasn’t too difficult as we delegated tasks amongst the four of us based on our strengths. I was most comfortable with coding in HTML, CSS and JavaScript in our team which was why I ended up being the front-end developer. But I also assisted with the WordPress side of website as&nbsp;well.</p>
            </div>
        </div>
        <div class="mc-section">
            <video class="img-fluid mc-padding-bottom" autoplay loop muted playsinline>
                <source src="/assets/images/spectrahomemockup.mp4" type="video/mp4">
                <p class="sr-only">Screengrab of home page</p>
            </video>
            <video class="img-fluid" autoplay loop muted playsinline>
                <source src="/assets/images/spectradiscsnapshot.mp4" type="video/mp4">
                <p class="sr-only">Snapshots of the different discipline pages from the website</p>
            </video>
        </div>
        <div class="row mc-section">
            <div class="col-md-5 mc-md-padding-bottom">
                <h3 class="mc-subheading">EVALUATING THE PROJECT</h3>
                <p>It’s hard to say for certain on website’s performance. Ideally, it would have been great to set up a web analytics tool to have access to data of the website’s traffic but our main priority was building the website which I’m personally very proud of considering the constraints we were working&nbsp;under.</p>
                <p class="mc-padding-bottom">The showcase itself was a huge success despite our lack of financial support. 600 attendees visited the showcase, an increase from 2020. Because of this turnout, the 2022 team managed secure significant financial support from Murdoch&nbsp;University.</p>
                <a class="mc-site-link" href="https://creativemediashowcase.murdoch.edu.au/2021/" target="_blank"><span class="material-symbols-outlined">arrow_outward</span>Visit the site</a>
            </div>
            <div class="col-md-6 offset-md-1">
                <h3 class="mc-subheading">PROJECT CREDITS</h3>
                <div class="row">
                    <div class="col-4">
                        <p><span class=mc-boldish>Project Coordinators:</span>
                            <br>Erica Mason
                            <br>Eko Pam
                        </p>
                        <p><span class=mc-boldish>Branding:</span>
                            <br>Yvonne Duan
                            <br>Gia Huxley
                            <br>Danika Kirk
                            <br>Stephanie Pacia
                        </p>
                        <p><span class=mc-boldish>Publication:</span>
                            <br>Olympe Capar
                            <br>Daniella Moffet
                            <br>Campbell Ruthven
                            <br>Theo McCrackan
                        </p>
                    </div>
                    <div class="col-4">
                        <p><span class=mc-boldish>Online Spaces:</span>
                            <br>Melanie Chow
                            <br>Evie Griffith
                            <br>Brendan Jamieson
                            <br>Tegan Fullgrabe
                        </p>
                        <p><span class=mc-boldish>Spatial:</span>
                            <br>Jemma Bruning
                            <br>Nicolina Ierino
                            <br>Hannah O'Brien
                            <br>Kath Robinson
                        </p>
                        <p><span class=mc-boldish>Wayfinding:</span>
                            <br>Sebastian Komatsu
                            <br>Asma Saed
                            <br>Jessica Wilson
                        </p>
                    </div>
                    <div class="col-4">
                        <p><span class=mc-boldish>Promotional Campaign:</span>
                            <br>Rebecca Lim
                            <br>Adam Smyth
                            <br>Amelia Speirs
                            <br>Astiné van Wyk
                        </p>
                        <p><span class="mc-boldish">Social Media:</span>
                            <br>Kayleigh Lupke
                            <br>Fioline Oetomo
                            <br>Johsua Remedios
                        </p>
                        <p><span class=mc-boldish>Event Photography:</span>
                            <br>Declan Young
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include lightbox.html modal="spectra1" img="spectracompinitial.png" %}
{% include lightbox.html modal="spectra2" img="spectracompfinal.jpg" %}