---
layout: default
title: With Joy
project: withjoy
permalink: /with-joy/
---

{% include feature.html %}
<section class="container-fluid">
    <div class="mc-container">
        <div class="mc-grid">
            <div class="mc-project-overview">
                <h3 class="mc-subheading">THE PROJECT</h3>
                <p>With Joy is a conceptual dental care brand that seeks to minimise the impact of dental waste by providing eco-friendly and sustainable products that are safe for their customers and the&nbsp;environment.</p>
            </div>
            <div class="mc-grid-2-8-2x5">
                <img class="mc-img" src="/assets/images/withjoybuild1.jpg" alt="Prototyping with bond paper">
            </div>
            <div class="mc-grid-3-1-2x6">
                <img class="mc-img" src="/assets/images/withjoybuild2.jpg" alt="Construction of the floss box">
            </div>
            <div class="mc-project-outline2">
                <h3 class="mc-subheading">CHANGING DENTAL CARE NORMS</h3>
                <p>The dental industry has contributed a huge amount of waste due to the use of single-use plastics in dental clinics and the prevalence of plastic and nylon products at home that get replaced every few&nbsp;months.</p>
                <p>To respond to these current standards, With Joy aims to help consumers to lessen their harmful impact their dental care has on the environment by creating packaging and products that shift people’s understanding of quality dental&nbsp;care.</p>
            </div>
        </div>
        <div class="row mc-section">
            <div class="col-md-4 mc-order-2">
                <h3 class="mc-subheading">DISTINGUISHING THE BRAND</h3>
                <p>I analysed current dental care brands from household staples like Colgate to lesser-known eco-conscious brands and their product reviews. This was to identify what information had to be included on the packaging and what consumers found attractive in a dental care product. All this helped define the direction I took with With Joy’s visual identity which really leaned into their values of sustainability and consumer care, distinguishing With Joy from more commercial&nbsp;brands.</p>
            </div>
            <div class="col-md-7 offset-md-1 mc-order-1">
                <img class="img-fluid mc-md-padding-bottom" src="/assets/images/withjoyresearch.png" alt="Slides of persona and competitor analysis research">
            </div>
        </div>
        <div class="row mc-section">
            <div class="col-md-7">
                <video class="img-fluid mc-padding-bottom" autoplay loop muted playsinline>
                    <source src="/assets/images/withjoylogodevelopment.mp4" type="video/mp4">
                    <p class="sr-only">Development of With Joy logo from sketch to different iterations to final design</p>
                </video>
                <img class="img-fluid mc-md-padding-bottom" src="/assets/images/withjoystyleguide.png" alt="Slides of With Joy style guide">
            </div>
            <div class="col-md-4 offset-md-1">
                <h3 class="mc-subheading">CREATING AN IDENTITY</h3>
                <p>I wanted the brand’s visual identity to be connected to nature and all things organic so that consumers will associate the brand with being&nbsp;eco-conscious.</p>
                <p>I also needed to communicate the dental aspect of the brand but I didn't want the imagery being too literal, especially considering that the brand name itself is a bit&nbsp;abstract.</p>
                <p>The final logo is meant to resemble a smile through the curved text and twinkle. The use of the colour green is used to convey the brand’s&nbsp;eco-friendliness.</p>
            </div>
        </div>
        <p class="mc-pullquote mc-quote">Shifting people's understanding of quality dental&nbsp;care...</p>
        <div class="row mc-section">
            <div class="col-md-4 mc-order-2">
                <h3 class="mc-subheading">BESPOKE PACKAGING</h3>
                <p>The catalyst of this entire project was thinking about how floss should be packaged in paper boxes rather the usual plastic&nbsp;containers.</p>
                <p>After figuring out the construction of the floss package, I expanded the product line to include toothpaste and mouthwash. I made sure to make the construction of the packages for those additional products consistent with the floss&nbsp;one.</p>
            </div>
            <div class="col-md-7 offset-md-1 mc-order-1">
                <img class="img-fluid mc-md-padding-bottom" src="/assets/images/withjoypackagesketch.png" alt="Sketch of floss box">
            </div>
        </div>
        <div class="row mc-section">
            <div class="col-md-7">
                <img class="img-fluid mc-md-padding-bottom" src="/assets/images/withjoyinstructions.png" alt="Three sets of icons detailing instructions for using floss, toothpaste and mouthwash, respectively">
            </div>
            <div class="col-md-4 offset-md-1">
                <h3 class="mc-subheading">ENSURING GOOD HYGIENE PRACTICES</h3>
                <p>I found that on a lot of packaging and products the instructions are written in teeny tiny text when I eventually find it squished between other bits of&nbsp;information.</p>
                <p>I worked on creating a series of icons to visualise the instructions of each product to help consumers easily find this information and to show what each step&nbsp;entails.</p>
            </div>
        </div>
        <p class="mc-pullquote mc-quote">Leaning into the values of sustainability and consumer&nbsp;care...</p>
        <div class="row mc-section">
            <div class="col-md-4 mc-order-2">
                <h3 class="mc-subheading">PROTOTYPING NEVER ENDS</h3>
                <p>I made low fidelity prototypes to make sure that all the different elements looked good and worked well together on a 3D&nbsp;object.</p>
                <p>With each new prototype, I made a few tweaks to make use of the space I have available and ensure that all the graphic elements on each package made their overall designs&nbsp;look cohesive.</p>
            </div>
            <div class="col-md-7 offset-md-1 mc-order-1">
                <video class="img-fluid mc-padding-bottom" autoplay loop muted playsinline>
                    <source src="/assets/images/withjoyflossprototype.mp4" type="video/mp4">
                    <p class="sr-only">Development of the physical prototype of the floss box</p>
                </video>
                <video class="img-fluid mc-padding-bottom" autoplay loop muted playsinline>
                    <source src="/assets/images/withjoytoothpasteprototype.mp4" type="video/mp4">
                    <p class="sr-only">Development of the physical prototype of the toothpaste box</p>
                </video>
                <video class="img-fluid mc-md-padding-bottom" autoplay loop muted playsinline>
                    <source src="/assets/images/withjoymouthwashprototype.mp4" type="video/mp4">
                    <p class="sr-only">Development of the physical prototype of the mouthwash box</p>
                </video>
            </div>
        </div>
        <div class="mc-grid mc-padding-top">
            <div class="mc-grid-1-1-5x4">
                <img class="mc-img mc-modal-trigger" src="/assets/images/withjoyflossmockup.png" alt="Three floss boxes captured at different angles" data-toggle="modal" data-target="#withjoy1">
            </div>
            <div class="mc-grid-1-5-5x4">
                <img class="mc-img mc-modal-trigger" src="/assets/images/withjoytoothpastemockup.png" alt="Three toothpaste boxes captured at different angles" data-toggle="modal" data-target="#withjoy2">
            </div>
            <div class="mc-grid-1-9-5x4">
                <img class="mc-img mc-modal-trigger" src="/assets/images/withjoymouthwashmockup.png" alt="Three mouthwash boxes captured at different angles" data-toggle="modal" data-target="#withjoy3">
            </div>
        </div>
        <div class="row mc-section">
            <div class="col-md-5 offset-md-7">
                <h3 class="mc-subheading">EVALUATING THE PROJECT</h3>
                <p>I would have liked to have done more paper experimentation to see which paper stock (coated, uncoated, recycled) would have fit the purpose of the product and the brand’s aesthetic the best. But overall, I'm really happy with how everything came&nbsp;together.</p>
                <p>This brand identity could be implemented in other spaces like a website or a community initiative to increase visibility of the brand and educate people on sustainable oral&nbsp;hygiene.</p>
            </div>
        </div>
    </div>
</section>
{% include lightbox.html modal="withjoy1" img="withjoyflossmockup.png" %}
{% include lightbox.html modal="withjoy2" img="withjoytoothpastemockup.png" %}
{% include lightbox.html modal="withjoy3" img="withjoymouthwashmockup.png" %}